### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "/Users/Admin/Desktop/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [74]:
# Print the first few results from the file
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [75]:
# total numer of unique player SNs that made a purchase.
purchase_data['SN'].nunique()

576

In [76]:
# total unique player names = 576, as shown below. 
purchase_data['SN'].value_counts()

Lisosia93          5
Iral74             4
Idastidru52        4
Saistyphos30       3
Iskadarya95        3
Siallylis44        3
Pheodaisun84       3
Lassilsala30       3
Aina42             3
Chadolyla44        3
Inguron55          3
Haillyrgue51       3
Silaera56          3
Umolrian85         3
Chamimla85         3
Iri67              3
Hiaral50           3
Aelin32            3
Chanastnya43       3
Idai61             3
Phyali88           3
Ialallo29          3
Strithenu87        3
Hada39             3
Lisim78            3
Tyisur83           3
Chamjask73         3
Yathecal82         3
Zontibe81          3
Ilarin91           3
                  ..
Lisassasda39       1
Lisossanya98       1
Chamjaskya75       1
Yadanu52           1
Tyaelly53          1
Iathenudil29       1
Lisossa46          1
Iskossasda43       1
Minduri31          1
Hala31             1
Aillyriadru65      1
Mindossa76         1
Tyalaesu89         1
Assesi91           1
Liawista80         1
Chadjask77         1
Frichjask31        1
Indcil77           1
Lirtirra81         1
Ethron58           1
Iathem87           1
Firatan58          1
Palatyon26         1
Mindista32         1
Chanirra79         1
Iskim66            1
Aerithriaphos45    1
Sundadarla27       1
Haeladil46         1
Filrion59          1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [77]:
# Set variables for all the things I need

In [78]:
#Avg Purchase Price#Avg Pur 
avg_price = round(purchase_data["Price"].mean(),2)
avg_price

3.05

In [79]:
#Number of Unique Items#Number  
items_unique = purchase_data["Item Name"].nunique()
items_unique

179

In [80]:
#Total Number of Purchases
total_purchases = purchase_data["Price"].count()
total_purchases

780

In [81]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [82]:
#Clean up the data/formatting
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [items_unique],
                                   "Average Price": [avg_price], 
                                   "Number of Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue]})
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${0:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [84]:
purchase_data.groupby(['Gender']).groups.keys()

dict_keys(['Female', 'Male', 'Other / Non-Disclosed'])

In [85]:
# Gender counts
total_male = purchase_data["Gender"].value_counts()['Male']
total_female = purchase_data["Gender"].value_counts()["Female"]
total_other = purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]
total_players = total_male+total_female+total_other

In [86]:
#Set up variables for Percentage of Male, Female and Other Players
percentage_male = (total_male/total_players)*100
percentage_female = (total_female/total_players)*100
percentage_other = (total_other/total_players)*100

In [87]:
#Clean up the data/Formatting
#identify columns in red and values
gender_demographics = pd.DataFrame({"Percentage of Players": (percentage_male,percentage_female, percentage_other),
                                   "Total Count": (total_male, total_female,total_other)}) 

#map/format
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{0:,.2f}".format)
gender_demographics

# Rename row labels (0,1,2) to more descriptive titles
gender_demographics.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})

                      Percentage of Players  Total Count
Male                                  83.59          652
Female                                14.49          113
Other / Non-Disclosed                  1.92           15

In [ ]:
## Alternative solution from class

#total_gender = purchase_data[“SN”].count()
#purchase_m= purchase_data[“Gender”].value_counts()[“Male”]
#purchase_f= purchase_data[“Gender”].value_counts()[“Female”]
#purchase_o= purchase_data[“Gender”].value_counts()[“Other / Non-Disclosed”]
#pd.DataFrame({‘%’:[purchase_b / total_recall * 100 ,purchase_g/ total_recall * 100,purchase_o/ total_recall * 100],
#             “total”:[purchase_b,purchase_g,purchase_o]}, index=[“male”, “female”, “other”])


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
#Purchasing Analysis by Gender. Retrieve only male data (loc) and set as variable.
male_data = purchase_data.loc[purchase_data["Gender"] == "Male"]

# male data variables needed. total male was declared earlier
male_purchase_count = male_data["Item Name"].count()
male_avg_price = male_data["Price"].mean()
male_purchase_total = male_data["Price"].sum()
male_percentage = male_purchase_total/total_male

In [56]:
#Retrieve only female data (loc) and set as variable.
female_data = purchase_data.loc[purchase_data["Gender"] == "Female"]

#female data variables needed
female_purchase_count = female_data["Item Name"].count()
female_avg_price = female_data["Price"].mean()
female_purchase_total = female_data["Price"].sum()
female_percentage = female_purchase_total/total_female 

female_percentage

3.203008849557522

In [57]:
# retrieve only ohter data (loc) and set as variable.
other_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
# other data variables needed

other_purchase_count = other_data["Item Name"].count()
other_avg_price = other_data["Price"].mean()
other_purchase_total = other_data["Price"].sum()
other_percentage = other_purchase_total/total_other 

other_percentage

3.3459999999999996

In [58]:
# clean up / data formatting
#identify columns in red and values

gender_purchasing = pd.DataFrame({"Purchase Count": (male_purchase_count,female_purchase_count, other_purchase_count),
                                   "Average Purchase Price": (male_avg_price, female_avg_price,other_avg_price),
                                   "Total Purchase": (male_purchase_total,female_purchase_total,other_purchase_total),
                                    "Normalized Total": (male_percentage,female_percentage,other_percentage)}) 




# Rename row labels (0,1,2) to more descriptive titles
gender_purchasing.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})

,Purchase Count,Average Purchase Price,Total Purchase,Normalized Total
Male,652,3.017853,1967.64,3.017853
Female,113,3.203009,361.94,3.203009
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [59]:
#Age Demographics #Age Demo 
#Create the bins in which the Data will be held
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [95]:
#Create Bins and Group Names 
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14","15-19","20-24","25-29", "30-34", "35-39", "40+"]
#Cut Ages and place them into bins 
pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

#dataframe without duplicates to find accurate age demographics 
without_dups = purchase_data.drop_duplicates(subset =['SN'])
without_dups.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [96]:
age_demographics = pd.DataFrame(without_dups["Age Bins"].value_counts())


age_demographics.reset_index(inplace=True)
age_demographics.columns = ["Age Bins", "Total Count"]
age_demographics["Percentage of Players"] = age_demographics["Total Count"] / total_players * 100

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{0:,.2f}".format)
age_demographics = age_demographics.sort_values(["Age Bins"], ascending=True)

age_demographics=age_demographics.set_index('Age Bins')

age_demographics

          Total Count Percentage of Players
Age Bins
<10                17                  2.18
10-14              22                  2.82
15-19             107                 13.72
20-24             258                 33.08
25-29              77                  9.87
30-34              52                  6.67
35-39              31                  3.97
40+                12                  1.54

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
age_purchasing_group = purchase_data.groupby("Age Bins")
age_analysis = pd.DataFrame(purchase_data["Age Bins"].value_counts())
age_analysis.reset_index(inplace=True)
age_analysis.columns = ["Age Bins", "Purchase Count"]
age_analysis = age_analysis.sort_values(["Age Bins"], ascending=True)
age_analysis=age_analysis.set_index('Age Bins')
price_bins = purchase_data.groupby("Age Bins").mean()
sum_bins = purchase_data.groupby("Age Bins").sum()
total_players = without_dups.groupby("Age Bins").count()
age_analysis["Average Purchase Price"] = price_bins["Price"]
age_analysis["Total Purchase Value"] = sum_bins["Price"]
age_analysis["Normalized Totals"] = age_analysis["Total Purchase Value"] / total_players["Item ID"]

#Format to make it look awesome.
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${0:,.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${0:,.2f}".format)
age_analysis["Normalized Totals"] = age_analysis["Normalized Totals"].map("${0:,.2f}".format)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [99]:
spending_analysis = pd.DataFrame(purchase_data["SN"].value_counts())
spending_analysis.reset_index(inplace=True)
spending_analysis.columns = ["SN", "Purchase Count"]
spending_analysis=spending_analysis.set_index('SN')

SN_price_bins = purchase_data.groupby("SN").mean()
SN_sum_bins = purchase_data.groupby("SN").sum()

spending_analysis["Average Purchase Price"] = SN_price_bins["Price"]
spending_analysis["Total Purchase Value"] = SN_sum_bins["Price"]
spending_analysis = spending_analysis.sort_values(["Total Purchase Value"], ascending=False)

spending_analysis["Average Purchase Price"] = spending_analysis["Average Purchase Price"].map("${0:,.2f}".format)
spending_analysis["Total Purchase Value"] = spending_analysis["Total Purchase Value"].map("${0:,.2f}".format)
spending_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
item_popularity = pd.DataFrame(purchase_data["Item ID"].value_counts())
item_popularity.reset_index(inplace=True)
item_popularity.columns = ["Item ID", "Purchase Count"]
item_popularity=item_popularity.set_index('Item ID')
item_price_bins = purchase_data.groupby("Item ID").mean()
item_sum_bins = purchase_data.groupby("Item ID").sum()
item_popularity["Item Price"] = item_price_bins["Price"]
item_popularity["Total Purchase Value"] = item_sum_bins["Price"]
item_popularity["Item Name"] = purchase_data["Item Name"]

item_popularity = item_popularity.sort_values(["Purchase Count"], ascending=False)
item_popularity["Item Price"] = item_popularity["Item Price"].map("${0:,.2f}".format)
item_popularity["Total Purchase Value"] = item_popularity["Total Purchase Value"].map("${0:,.2f}".format)
item_popularity.head()

,Purchase Count,Item Price,Total Purchase Value,Item Name
Item ID,,,,
178,12,$4.23,$50.76,"Despair, Favor of Due Diligence"
108,9,$3.53,$31.77,Malificent Bag
145,9,$4.58,$41.22,Hopeless Ebon Dualblade
82,9,$4.90,$44.10,Azurewrath
72,8,$3.77,$30.16,"Oathbreaker, Last Hope of the Breaking Storm"

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [132]:
item_profitability = pd.DataFrame(purchase_data["Item Name"].value_counts())
item_profitability.reset_index(inplace=True)

item_profitability.columns = ["Item Name", "Purchase Count"]
item_profitability=item_profitability.set_index('Item Name')


item_sum_binsb = purchase_data.groupby("Item Name").sum()
item_profitability["Item Price"] = item_price_bins2["Price"]

item_profitability["Total Purchase Value"] = item_sum_bins2["Price"]
item_profitability = item_profitability.sort_values(["Total Purchase Value"], ascending=False)

item_profitability["Item Price"] = item_profitability["Item Price"].map("${0:,.2f}".format)
item_profitability["Total Purchase Value"] = item_profitability["Total Purchase Value"].map("${0:,.2f}".format)
item_profitability.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.90,$44.10
Fiery Glass Crusader,9,$4.58,$41.22
Singed Scalpel,8,$4.35,$34.80